<footer class="footer">
    <div class="row">
        <div class="col-sm-6 col-md-4 footer-navigation">
            <h3><a class="d-flex align-items-center" href="#"><img class="me-3" src="/img/logo.jpg" style="max-height: 70px;"> CPU<span>Trades </span></a></h3>
            <p class="links"><a href="/">Home</a><strong> ·&nbsp;</strong><a href="/home#packages">Pricing</a><strong> · </strong><a href="/about">About</a><strong> · </strong><a href="/faq">Faq</a><strong> · </strong><a href="/contact">Contact</a></p>
            <p class="company-name">CPU Trades © <%= year %></p>
        </div>
        <div class="col-sm-6 col-md-4 footer-contacts">
            <div class="d-flex"><div class="fa fa-map-marker footer-contacts-icon colu-2"> </div>
                <span class="colu-9">Unit 20 Space At Hoo Farm Hoo Farm Industrial Estate, Edwin Avenue, Kidderminster, England, DY11 7SZ</span>
            </div>
            <div><i class="fa fa-phone footer-contacts-icon"></i>
                <p class="footer-center-info email text-start"> +44 1562 307 443</p>
            </div>
            <div><i class="fa fa-envelope footer-contacts-icon"></i>
                <p> <a href="#" target="_blank">info@cputrades.com</a></p>
            </div>
        </div>
        <div class="col-md-4 footer-about">
            <h4>About the company</h4>
            <p> CPU Trades is the #1 leading, licensed and regulated stocks, crypto, commodities and forex investment platform. We offer nice investment packages to our partners and customers worldwide. </p>
            <div class="social-links social-icons">
                <a target="_blank" href="https://www.facebook.com/share/FBzz3n9QWuQPp1Lr/?mibextid=LQQJ4d"><i class="fa fa-facebook"></i></a>
                <a target="_blank" href="https://x.com/cputrades?s=21"><i class="fa-brands fa-x-twitter"></i></a>
                <a target="_blank" href="https://www.instagram.com/cputrades?igsh=ZDMxMHZuMXlrZmZj&utm_source=qr"><i class="fa fa-instagram"></i></a>
                <a target="_blank" href="https://www.linkedin.com/company/cputrades/"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/countries.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/scripts.js"></script>