<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title><%= title %> • CPU TRADES</title>
    <meta http-equiv="" content="">

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://cputrades.com/">
    <meta property="og:site_name" content="CPU TRADES">
    <meta property="og:image" content="https://cputrades.com/img/logo-x.png">
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:alt" content="CPU Trades logo" />
    <meta name="description" content="CPU Trades is the #1 leading, licensed and regulated stocks, crypto, commodities and forex investment platform. We offer nice investment packages to our partners and customers worldwide.">

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/accordion-faq-list.css">
    <link rel="stylesheet" href="/css/Login-Form-Basic-icons.css">
    <link rel="stylesheet" href="/css/Pretty-Footer-.css">
    <link rel="stylesheet" href="/css/Single-Price-Plan.css">
    <link rel="stylesheet" href="/css/sticky-dark-top-nav-with-dropdown.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intl-tel-input@23.8.1/build/css/intlTelInput.css">
    <script src="https://cdn.jsdelivr.net/npm/intl-tel-input@23.8.1/build/js/intlTelInput.min.js" async></script>
    <script src="https://code.jivosite.com/widget/KoBHJQbB6G" async></script>
</head>