<nav class="mb-3 navbar navbar-expand-md navbar-fixed-top navigation-clean-button navbar-dark navigationbar content-padding">
    <div class="container">
        <div class="w-100" style="display: flex; justify-content: space-between; align-items: center;"><a class="navbar-brand" href="/home"><span><img src="/img/logo.jpg" style="max-height: 70px;">CPU Trades</span> </a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button></div>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav nav-right">
                <li class="nav-item"><a class="nav-link active" href="/">Home </a></li>
                <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Services </a>
                    <div class="dropdown-menu"><a class="dropdown-item" href="/home#packages">Price Packages</a><a class="dropdown-item" href="/contact">Make A Custom Request</a></div>
                </li>
                <li class="nav-item"><a class="nav-link" href="/about">About </a></li>
                <li class="nav-item"><a class="nav-link" href="/faq">Faq </a></li>
                <li class="nav-item"><a class="nav-link" href="/contact">Contact </a></li>
            </ul>
            <p class="ms-auto navbar-text actions"> <a class="btn start-trading" role="button" href="/register">Start Trading</a></p>
        </div>
    </div>
</nav>